@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Source+Code+Pro:wght@300;400;600&display=swap');

html {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #1A1A1A;
    color: white;
    font-family: "Montserrat", monospace;
}
header{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
header .text{
    display: grid;
}

.text > * { 
    grid-area: 1/12;
}

.text h1{
    font-size: 5rem;
    font-weight: 400;
}
.text #highlight{
    height: 13rem;
    width: 22rem;
    background-color: #1E6D91;
    opacity: 47%;
    transition: height 0.5s;
    align-self: end;
}

nav{
    font-size: 2rem;
    display:flex;
    flex-direction: column;
    gap: 2.3em;
}
#to-do-list:hover {
    text-decoration: underline;
    color: #1E6D91;
    cursor: hand;
}
#weather-app:hover {
    text-decoration: underline;
    color: #1E6D91;
    cursor: hand;
}

#home{
    font-size: 1.5rem;
}

#home:hover{
    text-decoration: underline;
    color: #1E6D91;
    cursor: hand;
}

.about-me {
    height: 100vh;
    width: 100vw;
    padding-top: 200px;
    font-weight: 300;
}
.about-me .intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 25px;
}

.about-me h1 {
    font-size: 3.5rem;
    font-weight: 400;
}
.about-me h2 {
    font-weight: 300;
}
.about-me h3{
    font-weight: 300;
}
.about-me .box{
    display: flex;
    font-weight: 300;
}
.about-me .background-info{
    margin-top: 10px;
    margin-left: 340px;
    margin-right: 50px;
    background-color: #245F7A;
    padding: 25px;
    width: 1440px;
    border-radius: 30px;
}
.about-me .future-goals{
    margin-top: 10px;
    margin-right: 340px;
    background-color: #245F7A;
    padding: 40px 25px;
    width: 1440px;
    border-radius: 30px;
}
.about-me .ending{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 40px;
    margin-left: 405px; */
    font-weight: 300;
}

.hidden{
    opacity: 0;
    transition: all 1s;
}
@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}
.show{
    opacity: 1;
}
.info:nth-child(2){
    transition-delay: 200ms;
}
.info:nth-child(3){
    transition-delay: 800ms;
}

@media(max-width: 1400px){
    header{
        display:flex;
        flex-direction: column;
    }

    .text{
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .about-me .box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5rem;
        margin: 25px;
    }

    .about-me .background-info{
        padding: 25px;
        width: auto;
    }
    .about-me .future-goals{
        background-color: #245F7A;
        padding: 40px 25px;
        width: 1440px;
        border-radius: 30px;
    }
    .about-me .ending{
        margin-top: 40px;
        margin-left: 405px;
        font-weight: 300;
    }
}

/* projects.html */

#to-do-list-project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2em auto;
    margin-bottom: 5em;
}

#to-do-list-project h1{
    font-size: 3rem;
}

.projects-text{
    display: flex;
    gap: 1em;
}

.card{
    display: flex;
    align-items: flex-start;
    gap: 2em;
    height: 70vh;
    width: 19vw;
    background-color: #245F7A;
    white-space: normal;
    transition: width 0.5s ease; 
    padding: 25px;
}

.card h3{
    height:1em;
    width: 10em;
    word-wrap: break-word;
    justify-content: center;
    transform-origin: top left;
}

.projects-text .card:hover {
    width: 30vw;
    flex-wrap: wrap;
}


#tic-tac-toe-project {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5em;
    background-color: white;
}

#tic-tac-toe-project h1 {
    font-size: 3rem;
    color: black;
}

#tic-tac-toe-project h2 {
    font-size: 1.4rem;
    color: black;
}

@media(max-width: 1400px){
    .card{
        max-width: 20vw;
        height: 100vh;
    }
}

@media(max-width: 800px){
    .projects-text{
        flex-direction: column;
    }

    .card{
        align-items: center;
        height: 70vh;
        width: 60vw;
        white-space: normal;
        transition: none; 
        padding: 25px;
    }
    
    .card h3{
        height:1em;
        width: 10em;
        word-wrap: break-word;
    }
    
    .projects-text .card:hover {
        width: 60vw;
    }
    
    
    #tic-tac-toe-project {
        margin: 0;
        padding-bottom: 5em;
    }
}